@import "tailwindcss";

@theme inline {
  --font-arabic-medium: var(--font-labeeb-arabic-medium);
  --font-arabic-bold: var(--font-labeeb-arabic-bold);
  --font-english-medium: var(--font-labeeb-english-medium);
  --font-english-light: var(--font-labeeb-english-light);
  --color-primary: #f06827;
  --color-primary-2: #fef5f0;
  --color-primary-3: #6e1946;
  --color-error: #dd2229;
  --color-primary-blue: #1685c6;
  --color-primary-blue-2: #f0f9ff;
  --color-gray: #939393;
  --text-white: #ffffff;
  --color-white-2: #f0f9ff;
  --color-navy: #0f2837;
  --text-6xl: 64px;
  --text-3xl: 32px;
}

body {
  font-family: var(--font-labeeb-arabic-medium),
    var(--font-labeeb-english-medium), Arial, Helvetica, sans-serif;
}

@utility h-screen {
  height: 100dvh;
}

input[type="checkbox"]:checked {
  background-image: url("/images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@utility font-roboto {
  font-family: "Roboto", sans-serif;
}
