@import "tailwindcss";

@theme {
  --font-arabic-medium: var(--font-labeeb-arabic-medium);
  --font-english-medium: var(--font-labeeb-english-medium);
}

body {
  font-family: var(--font-labeeb-arabic-medium),
    var(--font-labeeb-english-medium), Arial, Helvetica, sans-serif;
}

@utility font-english-medium {
  font-family: var(--font-labeeb-english-medium), Arial, Helvetica, sans-serif;
}

@utility h-screen {
  height: 100dvh;
}
